

#background{
    height: 325px;
    background-color: #38751d;
}
.centered{
    text-align: center;
}

.color{
    background-color: #6aa74f;
    text-align: center;
}
/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Whitewater-rafting.jpg");
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #38751d;
  }

  body {
    background-color:#3c7ed2; 
}

nav a:hover {
    background-color:#f1c131;
    text-emphasis-color: white;
}